<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Portfel Haseł</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <style>
        .validation-message{
            color: red;
        }
    </style>
</head>

<body>


<div class="container">
    <a id="backBtn" class="btn btn-dark" href="/user/home" style="margin-top: 10px;">Powrót</a>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4>Dodaj hasło do portfelu:</h4>
            <form autocomplete="off" action="#" th:action="@{/user/add-password}"
                  th:object="${walletPassword}" method="post" class="form-horizontal"
                  role="form">
                <div class="form-group">
                    <div>
                        Hasło:
                        <label th:if="${#fields.hasErrors('hashedPassword')}" th:errors="*{hashedPassword}"
                               class="validation-message"></label>
                        <input id="password" type="password" th:field="*{hashedPassword}" placeholder="********"
                               class="form-control" required/><br/>
                        Nazwa strony:
                        <label th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                               class="validation-message"></label>
                        <input id="siteName" type="text" th:field="*{title}" placeholder="moodle.pl"
                               class="form-control" required/><br/>
                        Link:
                        <label th:if="${#fields.hasErrors('link')}" th:errors="*{link}"
                               class="validation-message"></label>
                        <input id="link" type="text" th:field="*{link}" placeholder="https://moodle3.cs.pollub.pl/"
                               class="form-control" required/><br/>
                        Opis:
                        <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                               class="validation-message">Opis:</label>
                        <textarea rows="3" type="text" th:field="*{description}" placeholder="Opis"
                                  class="form-control"></textarea><br/>

                        <button id="submitBtn" type="submit" class="btn btn-primary btn-block">Dodaj</button>
                        <button type="reset" class="btn btn-primary btn-block">Anuluj</button>
                    </div>
                </div>

                <div th:if="${successMessage!=null}" style="text-align: center;" class="alert alert-success alert-dismissible fade show" role="alert">
                    <span class="text-success" th:utext="${successMessage}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>