<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Portfel haseł</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <style>
        td {
            text-align:center;

        }
        .passwordTable {
            width:100%;
            text-align:center;
            padding: 15px;
        }
        .passwordText {

        }

        .row {
            width:1500px;
        }
        .wrapper {
            margin-left:30px;
        }
        .invite-alert {
            padding: 16px;
        }
    </style>
</head>
<body>

<div class="wrapper">
    <a id="backBtn" class="btn btn-dark" href="/user/home" style="margin-top: 10px;">Powrót</a>
     <div class="row">
         <form style="margin:auto;" method="post" th:action="@{/user/swap-mode}">
             <button id="privilegeSwap" style="width:500px;" class="btn btn-dark" type="submit" th:text="${swapButtonText}"></button>
         </form>
        <div class="passwordTable">
            <table class="table table-striped">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Tytuł</th>
                    <th scope="col">Hasło</th>
                    <th scope="col">Link</th>
                    <th scope="col">Opis</th>
                    <th scope="col">Dzielone przez</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
            <th:block th:each="walletPassword : ${walletPasswords}" >
                    <tr th:id="'walletPassword' + ${walletPassword.id}">
                        <td th:text="${walletPassword.title}"></td>
                        <td th:id="'walletPassword' + ${walletPassword.id} + 'text'" class="passwordText" th:text="${walletPassword.hashedPassword}"></td>
                        <td><a th:href="${walletPassword.link}" th:text="${walletPassword.link}"></a></td>
                        <td th:text="${walletPassword.description}"></td>
                        <td th:if="${walletPassword.sharedBy != null}" th:text="${walletPassword.sharedBy.email}"></td>
                        <td th:if="${walletPassword.sharedBy == null}"></td>
                        <td><a class="btn btn-success" th:href="@{/edit-wallet-password/{id}(id=${walletPassword.id})}">Edytuj</a></td>
                        <td><a class="btn btn-danger" th:href="@{/delete-wallet-password/{id}(id=${walletPassword.id})}">Usuń</a></td>
                        <td><a class="btn btn-primary" th:href="@{/user/view-passwords/{id}(id=${walletPassword.id})}" th:onclick="'javascript:func(' + ${walletPassword.id} + ');'">Wyświetl</a></td>
                        <td>
                            <form class="input-group mb-3" method="post" th:action="@{/user/share-password/{id}(id=${walletPassword.id})}" enctype="multipart/form-data">
                                <input name="email" id="email" type="text" placeholder="Podaj email.." size="13" class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">Wyślij</button>
                                </div>
                            </form>

                        </td>
                    </tr>
                </th:block>
            </table>
            <th:div th:each="user : ${userList}" style="text-align: center;" class="invite-alert alert alert-success alert-dismissible fade show" role="alert">
                <span th:text="'Użytkownik ' + ${user.email} + ' wysyła prośbę o przesłanie haseł '"></span>
                <a class="btn btn-success" th:href="@{/accept-password-request/{id}(id=${user.id})}">Zatwierdź</a>
            </th:div>
            <div th:if="${failMessage!=null}" style="text-align: center;"
                 class="alert alert-danger alert-dismissible fade show" role="alert">
                <span th:utext="${failMessage}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
<script>
function func(id) {

  var x = document.getElementById('walletPassword' + id + 'text');
  if (x.style.backgroundColor === "#FFFF00") {
    x.style.backgroundColor  = "black";
  } else {
    x.style.backgroundColor  = "#FFFF00";
  }
}

function toggleButton() {
  var x = document.getElementById("privilegeSwap");
  if (x.innerText === "Read-only") {
    x.innerText = "Modify mode";
  } else {
    x.style.display = "Read-only";
  }
}
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>
